<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Timer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <svg id="progress-circle" width="70vw" height="70vw" viewBox="0 0 200 200">
        <circle
          cx="50%"
          cy="50%"
          [attr.r]="circleRadius"
          fill="none"
          stroke="#f3f3f3"
          stroke-width="12"
        ></circle>
        <circle
          cx="50%"
          cy="50%"
          [attr.r]="circleRadius"
          fill="none"
          [attr.stroke]="circleColor"
          stroke-width="12"
          stroke-linecap="round"
          [attr.stroke-dasharray]="circleDasharray"
          [attr.stroke-dashoffset]="percentageOffset(percent | async)"
        ></circle>
        <text x="50%" y="55%" class="timer-time">{{ formatTime(timer) }}</text>
      </svg>
    </ion-row>
    <ion-button expand="full" (click)="startTimer()" *ngIf="!started">Start</ion-button>
    <ion-button expand="full" (click)="stopTimer()" *ngIf="started">Stop</ion-button>
  </ion-content>
</ion-content>
