#progress-circle{
  rotate: -90deg;
}

.timer-time{
  font-size: 32px;
  text-anchor: middle;
  font-weight: 500;
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}

.timer-content{
  height: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}